*{margin: 0;
    padding: 0;
}
    #giaodien{
        margin-top: 50px;
        border: 1px solid black;
        width: 450px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }
    header{
        text-align: center;
        font-weight: bold;
        padding: 10px 0px;
        background-color: cadetblue;
    }
    .content {
        display: flex;
    }
    .img {
        flex: 1;
    }
    .text{
        flex: 1;
        text-align: justify;
        padding: 0px 5px;
    }
    footer{
        background-color: cadetblue;
    }
    
    footer ul{
        margin-left: 30px;
    
    }